version: '3.8'
services:
ai_service:
build: ./ai_service
ports:
- "8001:8001"
env_file: .env
depends_on:
- mongo
- redis
volumes:
- vector_data:/data
- ./models:/data/models


recommender_service:
build: ./recommender_service
ports:
- "8003:8003"
env_file: .env
depends_on:
- mongo


resume_service:
image: alpine:latest
# resume service is optional in this compose for now


mongo:
image: mongo:6.0
restart: always
ports:
- "27017:27017"
volumes:
- mongo_data:/data/db


redis:
image: redis:7
ports:
- "6379:6379"


volumes:
vector_data:
mongo_data: